* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  height: 105px;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(#984900, #C86000);
}

.header,
.submitMeme {
  background: linear-gradient(#984900, #C86000);
}

.logo {
  height: 100%;
}

.logo-name {
  align-self: center;
  color: #fff;
}

.memeContent {
  padding: 36px;
}

.inputContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding-bottom: 30px;
}

.inputMeme {
  height: 35px;
  width: 100%;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
}

.inputMeme,
.submitMeme {
  border-radius: 5px;
}

.submitMeme {
  width: 100%;
  height: 40px;
  border: 0;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

.memeContainer {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.img {
  max-width: 100%;
}